body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
   box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow-x: hidden;
}

.slide {
  display: flex;
}

.slide li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
}















