body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
   box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow-x: hidden;
}

.slide {
  display: flex;
  will-change: transform;
  
}

.slide li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
  opacity: 0.8;
  transform: scale(0.8);
  transition: transform .7s;
  border-radius: 4px;
  overflow: hidden;
}

.slide li.ativo {
  opacity: 1;
  transform: scale(1);
}















